<div class="col-6 border-end overflow-auto h-100 p-0">
    
    <table class="table table-sm table-striped table-bordered table-hover mb-0">
        <thead class="table-light sticky-top shadow-sm">
            <tr>
                {% for col in columns %}
                <th class="py-2 px-3">{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% if data %}
        
            {% for row in data %}

                {% if keys is string%}
                    {%set current_row = row[keys]%}
                {%else%}
                    {%set list_keys = []%}
                    {%for key in keys%}
                        {%set var = list_keys.append(row[key]|string)%}
                    {%endfor%}
                    {%set current_row = list_keys|join('|')%}
                {%endif%}

            <tr class="{{ 'bg-primary text-white' if current_row|string == selected_id|string else '' }}">
                {% for col in columns %}
                <td class="p-0">
                    <a href="{{ url_for('admin_bp.view_data_table', 
                                        table_name=current_table, 
                                        id=current_row, 
                                        q=request.args.get('q')) }}" 
                    class="text-decoration-none text-reset d-block py-2 px-3">
                        {{ row[col] if row[col] is not none else "" }}
                    </a>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>