{% extends 'admin/newadmin.html' %} 

{% block overlay %}
<div class="modal-backdrop fade show"></div>

<div class="modal d-block" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0 shadow-lg rounded-4 overflow-hidden">
            
            <div class="modal-header border-0 pb-0 pt-4 px-4">
                 <a href="/admin/{{ request.path.split('/')[2] }}/?q={{ request.args.get('q', '') }}&page={{ request.args.get('page', '1') }}" 
                    class="btn-close"></a>
            </div>

            <div class="modal-body px-4 px-md-5 pb-5 pt-0">
                <div class="text-center mb-1">
                    <h2 class="fw-bold mb-0">
                        {{ "Изменение" if 'update' in request.path else "Создание" }}
                    </h2>
                </div>
                
                <div class="mt-2">
                    {% include 'admin/forms/' + request.path.split('/')[2] + '.html' %}
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}