<div class="row p-2 border-bottom align-items-center bg-white" >
    
<form action="" method="GET" class="col-md-4">
    <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Поиск в {{ current_table }}..." value="{{ request.args.get('q', '') }}">
        <button class="btn btn-outline-secondary" type="submit">Поиск</button>
    </div>
</form>

    <div class="col-md-8 text-end">
    <div class="btn-group shadow-sm">
     
        <a href="" 
           class="btn btn-success">
           Создать
        </a>

        <a href="" 
           class="btn btn-primary">
           Изменить
        </a>

        <form action="">
            <input type="hidden" name="id" value="{{ selected_id }}">
            <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
    </div>
</div>

</div>

