<form action="{{ request.full_path }}" method="POST">
    <input type="hidden" name="page" value="{{ request.args.get('page', '1') }}">
    <input type="hidden" name="q" value="{{ request.args.get('q', '') }}">


    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label fw-bold">Номер билета (13 цифр)</label>
            <input type="text" name="ticket_no" 
                class="form-control {% if item %}bg-light text-muted{% endif %}" 
                value="{{ item.ticket_no if item else '' }}" 
                {% if item %}readonly{% endif %} 
                required maxlength="13">
        </div>

        <div class="col-md-6 mb-3">
            <label class="form-label fw-bold">ID рейса</label>
            <input type="number" name="flight_id" 
                class="form-control {% if item %}bg-light text-muted{% endif %}" 
                value="{{ item.flight_id if item else '' }}" 
                {% if item %}readonly{% endif %} 
                required>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold">Номер места</label>
        <input type="text" name="seat_no" class="form-control" 
               value="{{ item.seat_no if item else '' }}" required maxlength="4">
    </div>


    <div class="p-3 bg-light rounded-3 border">
        
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label fw-bold text-secondary">Порядковый номер посадки</label>
                <input type="number" name="boarding_no" class="form-control border-secondary" 
                       value="{{ item.boarding_no if item else '' }}" required>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label fw-bold text-secondary">Время посадки</label>
                <input type="datetime-local" name="boarding_time" class="form-control border-secondary" 
                       value="{{ item.boarding_time if item else '' }}"required>
            </div>
        </div>
    </div>
    
    <div class="mt-4 pt-2 text-center">
        <button type="submit" class="btn btn-dark btn-lg px-5 rounded-3">
            Сохранить
        </button>
    </div>
</form>