

<form action="{{ request.full_path }}" method="POST">
    
   
    <input type="hidden" name="page" value="{{ request.args.get('page', '1') }}">
    <input type="hidden" name="q" value="{{ request.args.get('q', '') }}">
    <input type="hidden" name="selected_id" value="{{ request.args.get('q', '') }}">



<div class="mb-1">
    <h5 class="fw-bold text-primary">Рейс</h5>
</div>

<div class="mb-3">
    <label class="form-label fw-bold">ID рейса</label>
    <input type="text" name="flight_id" class="form-control"
           value="{{ item.flight_id if item else '' }}" required readonly>
</div>

<div class="mb-3">
    <label class="form-label fw-bold">Статус</label>
    <select name="status" class="form-control" required>
        <option value="">Выберите статус</option>
        <option value="Scheduled" {% if item and item.status == 'Scheduled' %}selected{% endif %}>Scheduled</option>
        <option value="On Time" {% if item and item.status == 'On Time' %}selected{% endif %}>On Time</option>
        <option value="Delayed" {% if item and item.status == 'Delayed' %}selected{% endif %}>Delayed</option>
        <option value="Boarding" {% if item and item.status == 'Boarding' %}selected{% endif %}>Boarding</option>
        <option value="Departed" {% if item and item.status == 'Departed' %}selected{% endif %}>Departed</option>
        <option value="Arrived" {% if item and item.status == 'Arrived' %}selected{% endif %}>Arrived</option>
        <option value="Cancelled" {% if item and item.status == 'Cancelled' %}selected{% endif %}>Cancelled</option>
    </select>
</div>


<div class="d-flex flex-wrap gap-3">
 
    <div class="flex-grow-1 mb-3" style="min-width: 300px;">
        <label class="form-label fw-bold">Планируемое время вылета</label>
        <input type="datetime-local" name="scheduled_departure" class="form-control"
               value="{{ item.scheduled_departure if item else '' }}" required>
    </div>

    <div class="flex-grow-1 mb-3" style="min-width: 300px;">
        <label class="form-label fw-bold">Планируемое время прибытия</label>
        <input type="datetime-local" name="scheduled_arrival" class="form-control"
               value="{{ item.scheduled_arrival if item else '' }}" required>
    </div>

   
    <div class="flex-grow-1 mb-3" style="min-width: 300px;">
        <label class="form-label fw-bold">Фактическое время вылета</label>
        <input type="datetime-local" name="actual_departure" class="form-control"
               value="{{ item.actual_departure if item else '' }}">
        <small class="text-muted">Может быть пустым</small>
    </div>

    <div class="flex-grow-1 mb-3" style="min-width: 300px;">
        <label class="form-label fw-bold">Фактическое время прибытия</label>
        <input type="datetime-local" name="actual_arrival" class="form-control"
               value="{{ item.actual_arrival if item else '' }}">
        <small class="text-muted">Может быть пустым</small>
    </div>
</div>



<div class="mb-1 mt-1">
    <h5 class="fw-bold text-primary">Маршрут</h5>
</div>

<div class="mb-3">
    <label class="form-label fw-bold">Номер маршрута</label>
    <input type="text" name="route_no" class="form-control"
           value="{{ item.route_no if item else '' }}" required>
</div>

<div class="mb-3">
    <label class="form-label fw-bold">Аэропорт вылета</label>
    <input type="text" name="departure_airport" class="form-control"
           value="{{ item.departure_airport if item else '' }}" required>
</div>

<div class="mb-3">
    <label class="form-label fw-bold">Аэропорт прибытия</label>
    <input type="text" name="arrival_airport" class="form-control"
           value="{{ item.arrival_airport if item else '' }}" required>
</div>


    <div class="mt-4 pt-2 text-center">
        <button type="submit" class="btn btn-dark btn-lg px-5 rounded-3">Сохранить</button>
    </div>
</form>